{% extends "template.html" %}
{% block head %}
<link href="{{ app.request.basepath }}/lib/css/view_note.css" rel="stylesheet">
<link href="{{ app.request.basepath }}/lib/simplemde/simplemde.min.css" rel="stylesheet">
<link href="{{ app.request.basepath }}/lib/sweetalert/sweetalert.css" rel="stylesheet">
<style>
  .edit-add{display:flex;list-style-type:none;}

</style>
{% endblock %}

{% block body %} 
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="../lib/images/logo.png" alt="MILINKS"/></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#" id='view'>VIEW</a></li>
        <li><a href="#" id='changeUrl'>CHANGE URL</a></li>
        <li><a href="#" id='protectView'>PROTECT VIEW <i id="lockView"></i></a></li>
        <li><a href="#" id='protectEdit'>PROTECT EDIT <i id="lockEdit"></i></a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text">NOTE URL : <strong>{{url | raw }}</strong></li>
        <li><a href="http://milinks.info/tutorial/view" target="_blank">TUTORIAL</a></li>
        <li><a href="#" id='whats'>ABOUT US</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

	<div id="editor" class='container-fluid'>
    <textarea id="content" v-model="input" class="col-xs-6" autofocus>{{content}}</textarea>
    <div class="col-xs-6" id="render" v-html="input | marked"></div>
  </div>

{% endblock %}

{% block foot %}
<script src="{{ app.request.basepath }}/lib/sweetalert/sweetalert.min.js"></script>
<script src="{{ app.request.basepath }}/lib/js/marked.min.js"></script>
<script src="{{ app.request.basepath }}/lib/js/vue.min.js"></script>
<script>
url = '{{url | raw }}';
viewProtected = '{{ viewProtected }}';
editProtected = '{{ editProtected }}';
</script>
<script src="{{ app.request.basepath }}/lib/js/note_edit.js"></script>
{% endblock %}


