{% extends "template.html" %}
{% block head %}
<link href="{{ app.request.basepath }}/lib/css/view_note.css" rel="stylesheet">
<link href="{{ app.request.basepath }}/lib/simplemde/simplemde.min.css" rel="stylesheet">
<link href="{{ app.request.basepath }}/lib/sweetalert/sweetalert.css" rel="stylesheet">
<style>
  .edit-add{display:flex;list-style-type:none;}
</style>
{% endblock %}

{% block body %} 
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">MILINKS</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <a href="#" id='view'>View</a>
        <a href="#" id='changeUrl'>Change URL</a>
        <a href="#" id='protectView'>Protect View</a>
        <a href="#" id='protectEdit'>Protect Edit</a>
        <a href="#" id='save'>Save</a>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <p class="navbar-text navbar-center">Note URL : <strong>{{url | raw }}</strong></p>
        <a href="#" id='whats'>About</a>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  </div>
	<div id="editor" class='container-fluid'>
    <textarea id="content" v-model="input" debounce="300" class="col-xs-6">{{content}}</textarea>
    <div class="col-xs-6" id="render" v-html="input | marked"></div>
  </div>

{% endblock %}

{% block foot %}
<script src="{{ app.request.basepath }}/lib/sweetalert/sweetalert.min.js"></script>
<script src="{{ app.request.basepath }}/lib/js/marked.min.js"></script>
<script src="{{ app.request.basepath }}/lib/js/vue.min.js"></script>
<script>
url = '{{url | raw }}';
</script>
<script src="{{ app.request.basepath }}/lib/js/note_edit.js"></script>
{% endblock %}


